@charset "UTF-8";
html,body {font-family:微软雅黑,Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;font-size:14px;color:#000;}
body{margin:0;padding:0;}
table{font-weight: normal;}
img {border:0;cursor: pointer;}
*{margin: 0;padding: 0;}
ol,ul {list-style:none outside none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
a {color:#f00;text-decoration:none;cursor:pointer;}
em,i{font-style: normal;}
ul li{list-style: none;text-decoration: none;}

#body{background: url(../images/bg.jpg) no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.logo{text-align: center;padding-top: 18px;}
.header{margin: auto;}
.top{width: 1200px;font-size: 12px;height: 20px;clear: both;text-align: right;margin: auto;color: #68a21a;padding-right: 30px;}
.top a{color: #68a21a;}
.top a:hover{color: #2e5235;}


.main{width: 1318px;height:754px;background: url(../images/fz-bg.png) no-repeat;margin: auto;
 margin-bottom: 300px;clear: both;}

.main-top{width: 1200px;margin: auto;padding-right: 30px;clear: both;height: inherit;height: 54px;}
.main-top ul{text-align: right;clear: both;height: inherit;float: right;}
.main-top ul li{float: left;line-height: 54px;padding-left: 20px;}
.main-top ul li a{color: #fff;}
.main-top ul li img{padding-right: 10px;}

.main-bottom{width: 1200px;margin: auto;margin-left: 50px;clear: both; height: inherit;}

/*.main-content{background: url(../images/man-bg.jpg);width: 640px;height: 672px;float: right;margin: 10px;margin-top: 15px;position: relative;}*/


.main-content {
  background: url(../images/man-bg.jpg) -30px center no-repeat;
  position: relative;
  clear: both;
  height: 667px;
  background-size: 920px 683px;
}
.main-content-top{background: #002902;height: 28px;opacity: 0.8;}
.parameter tr td{color: #d68c0b;font-size: 14px;padding-left: 4px;line-height: 25px;}
.parameter tr td span{color: #fff;}



/*左侧工具*/

.img7 img,.img6 img,.img5 img,.img4 img,.img3 img{
	width:80%;
}
.img7 img:hover,.img6 img:hover,.img5 img:hover,.img4 img:hover,.img3 img:hover{
	transform: scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
}
.contenta_nav_left{  margin-top: 240px;
  margin-left: 30px;}
/*.contenta_nav_left ul li{padding: 10px 0px;width: 60px;float: left;}*/
.contenta_nav_left ul{position: fixed;bottom:15vmin;z-index: 10000000;}
.contenta_nav_left ul li{  padding: 10px 0px;width: 17vmin;float: left;}

#html_cursor{display:none;width: 164px; height: 100px; text-align: center; position: absolute; cursor: pointer; border-radius: 5px; opacity: 1; z-index: 99999; color: red; left: 620px; top: 594px; background: rgb(255, 255, 255);}
#finish{width: 60px; height: 25px; text-align: center; cursor: pointer; line-height: 25px; border-radius: 5px; position: relative; bottom: -18px; left: 7px; float: left; color: rgb(255, 255, 255); background: green;}
#finish2{width: 60px; height: 25px; line-height: 25px; text-align: center; position: relative; bottom: -18px; right: 7px; float: right; cursor: pointer; border-radius: 5px; color: rgb(255, 255, 255); background: red;}

/*藏獒*/
.zangao,.gou,.dcr,.dcr2,.dcr3,.dcr4{position: absolute;  top: 20%;left: 15%;}

/*狗*/
.gou{ top: 25%;left:60%;}

/*稻草人*/
.dcr{top:26%;left:59%;}
.dcr2{top:32%;left:68%;}
.dcr3{top:37%;left:76%;}
.dcr4{top:43%;left:84%;}








.black_overlayr,.black_overlayp{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.3;opacity:.30;filter: alpha(opacity=33); 
} 
.white_contentr,.white_contentp{display: none;position: absolute;top: 41%;left: 23%;width: 240px;height: 150px;padding-left: 4px;z-index:1002;overflow: auto;margin: auto; background:url(/kbgm.png) no-repeat ; } 
.white_contentr h3,.white_contentp h3{font-size: 14px;text-align: center;padding-bottom: 38px;}
.white_contentr span,.white_contentp span{font-size: 16px;border: 1px solid #ddd;padding: 2px 21px;margin-left: 13px;color: #555;cursor: pointer;    background: #a4d164;}

.white_contentp{height: 160px;overflow: visible;}
.white_contentp h3{padding-bottom: 3px;}
.white_contentp .inputa{border:1px solid #ddd;margin:6px 0px;width: 150px;height: 35px;padding-left: 6px;}


/*地的div*/
